<%-include('../admin/adminLayout/header.ejs')%>


<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3"><%=message%></h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="container-fluid">
            <form action="/admin/add-product" enctype="multipart/form-data" method="post"> 
                <div class="row">
                    <div class="col py-4">
                        <div class="form-group">
                            <div class="form-label">Product Name</div>
                            <input class="w-30" type="text" name="name" placeholder="produnct name" required>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col md-3 py-4">
                        <div class="form-group">
                            <div class="form-label rounded">Category</div>
                            <select  id="category" name="category" required>
                              <option value="" disabled selected>Choose Category</option>
                                <% category.forEach(cat => { %>
                                  <option ><%= cat.categoryName %></option>
                                <% }); %>
                            </select>
                        </div>
                      </div>
                      <div class="col md-3 py-4">
                        <div class="form-group">
                            <div class="form-label">Price</div>
                            <input type="text"  name="price" placeholder="Price" required>
                        </div>
                      </div>
                      <div class="col md-3 py-4">
                        <div class="form-group">
                            <div class="form-label">Brand</div>
                            <input type="text"  name="brand" placeholder="Brand" required>
                        </div>
                      </div>
                      <div class="col md-3 py-4">
                        <div class="form-group">
                            <div class="form-label">Quantity</div>
                            <input type="text"  name="qty" placeholder="Quantity" required>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col md-8 py-4">
                            <label for="exampleFormControlTextarea1">Description</label>
                            <div class="form-group">
                                <textarea class="w-50" id="exampleFormControlTextarea1" name="description" rows="3" required></textarea>
                              </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col md-3 py-4">
                            <div class="form-group">
                                <input type="file" name="image" id="image" multiple accept="image/*" required>
                                <div class="image-preview-container mt-2"></div>
                              </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col md-3 py-4">
                            <button type="submit" class="btn btn-primary">Add Product</button>
                        </div>
                      </div>
                </div>
            </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script>

  document.addEventListener('DOMContentLoaded',function(){
    const inputImage=document.getElementById('image');
    const previewContainer = document.querySelector('.image-preview-container');

    inputImage.addEventListener('change', function(){
      previewContainer.innerHTML='';

      Array.from(inputImage.files).forEach(function(file){
        const reader = new FileReader();

        reader.onload=function(){
          const imagePreview = document.createElement('div');
          imagePreview.classList.add('image-preview');

          const image = document.createElement('img');
          image.src = reader.result;
          image.classList.add('img-fluid');
        }

      })


    })
  })
</script>


<%-include('../admin/adminLayout/footer.ejs')%>